
.vs/Cod QR/FileContentIndex/91694c26-af6b-4052-8169-3ea806501da2.vsidx
/.vs/Cod QR/FileContentIndex
/CodQR/Cod QR/bin/*
/CodQR/Cod QR/obj/*
.vs/*
.gitignore
/.gitignore
/.gitignore
/.gitignore
/.vs/Cod QR/DesignTimeBuild/.dtbcache.v2
/Cod QR/obj/Debug/net6.0/Cod QR.AssemblyInfo.cs
/Cod QR/obj/Debug/net6.0/Cod QR.AssemblyInfoInputs.cache
/Cod QR/obj/Debug/net6.0/Cod QR.assets.cache
/Cod QR/obj/Debug/net6.0/Cod QR.GeneratedMSBuildEditorConfig.editorconfig
