/Cod QR/bin/*
/Cod QR/obj/*
/.vs/*
/Cod QR/bin/Debug/net6.0/Cod QR.dll
/Cod QR/bin/Debug/net6.0/Cod QR.exe
/Cod QR/bin/Debug/net6.0/Cod QR.pdb
/Cod QR/obj/Debug/net6.0/apphost.exe
/Cod QR/obj/Debug/net6.0/Cod QR.dll
/Cod QR/obj/Debug/net6.0/Cod QR.pdb
/Cod QR/obj/Debug/net6.0/Cod QR.sourcelink.json
/Cod QR/obj/Debug/net6.0/ref/Cod QR.dll
/Cod QR/obj/Debug/net6.0/refint/Cod QR.dll
